body{
    background-color: rgba(0 ,0 ,0 ,0.6);
    height: 1000px;
    height: 3000px;
    padding-top: 60px;
    padding-left: 100px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 100;
}

.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 100px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.data{
    background-color: lightpink;
    height: 100px;
    width: 200px;
    position: relative;
}

.absolute{
    position: absolute;
    background-color: rgb(153, 29, 29);
    color: white;
    padding: 2px;
    right: 20px;
    top:100px;
    z-index: 1;
}

.time{
    position: absolute;
    background-color: rgb(153, 29, 29);
    color: white;
    padding: 4px;
    right: 10px;
    bottom: 10px;
}