.profile-pic{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 6px;
}

.text-box{
    vertical-align: middle;
    width: 300px;
    font-size: 18px;
    border-style: none;
}

.tweet{
    background-color: rgb(29, 155, 240);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-style: none;
    border-radius: 32px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s;
}

.tweet:hover{
    opacity: 0.6;
}